
<span class="term term-{{ ::vm.termType }} location-{{::vm.location}}"
ng-class="::{'opened': vm.location === 'mainText'}">
    <span class="term__header">
    <!-- HEADER
    <div class="term_tools">
        <button-switch 
            title="BUTTONS.PIN_REMOVE"
            data-label=""
            data-icon="remove"
            data-type="pin-off"
            ng-click="vm.togglePin()"></button-switch>
        <button-switch 
            title="BUTTONS.PIN_TOGGLE"
            data-label=""
            data-icon="pin"
            data-type="pin"
            ng-class="{'active' : vm.isPinned()}"
            ng-click="vm.togglePin()"></button-switch>
    </div>  -->
    <div style="direction: ltr; outline: 2px thistle solid; margin:0.4em; background-color:snow" ng-click="vm.toggle()">
        <i class="fa opener" ng-if="::vm.location !== 'mainText'"></i>
        
        <i class="fa namedEntity__icon {{::vm.entityTypeIcon}}" ng-if="::vm.location === 'mainText'"></i>

        <span class="label" compile="::vm.term.label"></span><br />

        <span class="label bold"> - Proprietà:<br/></span>
        <span ng-if='vm.term.termInfo.props'> 
            {{vm.term.termInfo.props}}</span>

            <br /><span class="label bold"> - Sensi:<br/></span>    
        <span ng-if='vm.term.termInfo.sens'>
                {{vm.term.termInfo.sens}}</span>
        
        <!-- <span style="font-weight: bold"  compile="::vm.term.termInfo.translation"></span>
        <span style="font-style: italic" ng-if='vm.term.termInfo.pos'>PoS: </span>
        <span style="font-weight: bold"  compile="::vm.term.termInfo.pos"></span>
        <span style="font-style: italic" ng-if='vm.term.termInfo.sumo'>SUMO: </span>
        <span style="font-weight: bold"  compile="::vm.term.termInfo.sumo"></span>
        <span style="font-style: italic" ng-if='vm.term.termInfo.wn'>WN: </span>
        <span style="font-weight: bold"  compile="::vm.term.termInfo.wn"></span> -->
        
    </div>
    </span>




















    <!-- <span class="namedEntity__details">
        <span class="namedEntity__moreInfo-toggler" ng-click="vm.toggleMoreInfo()">
            <i class="fa opener"></i> About
        </span>
        <span class="namedEntity__moreInfo">
            
            <span ng-if="::vm.entity.notes && vm.entity.notes.length > 0" 
                class="{{ ::note.type }}"
                ng-repeat="note in ::vm.entity.notes track by $index"
                compile="::note.content">
            </span>

            <span ng-if="::vm.entity.desc" 
                ng-repeat="desc in ::vm.entity.desc track by $index"
                compile="::desc.content">
            </span>

            <span ng-if="::vm.entity.details" 
                compile="::vm.entity.details">
            </span>            

            <span ng-if="::vm.noMoreInfo">
                No more information available.
            </span> -->

            <!-- <span ng-switch="::vm.entityType">
                <span ng-switch-when="place">
                </span>

                <span ng-switch-when="person">
                </span>

                <span ng-switch-when="org">
                </span>

                <span ng-switch-default>
                </span>        
            </span> -->
        <!-- </span>

        <span class="namedEntity__occurrences-toggler" ng-click="vm.toggleOccurrences()">
            <i class="fa opener"></i> Occurrences
        </span>
        <span class="namedEntity__occurrences">
            <span ng-if="::vm.occurrences && vm.occurrences.length > 0"
                class="namedEntity__occurrences-occurrence"
                ng-repeat="occurrence in ::vm.occurrences track by $index"
                ng-click="vm.goToOccurrence(occurrence)">
                {{ ::occurrence.docLabel }} - Fol. {{ ::occurrence.pageLabel }} 
            </span>
            <span class="italic" ng-if="::vm.occurrences && vm.occurrences.length <= 0">
                No result found.
            </span>
        </span>
    </span> -->
</span>